{
  "extends": [
    "kentcdodds",
    "kentcdodds/jest",
    "kentcdodds/prettier"
  ],
  "rules": {
    "no-console": "off",
    "complexity": ["error", 10],
    "no-eq-null": "off",
    "eqeqeq": "off",
    "jest/no-disabled-tests": "off"
  }
}
